.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.table-container {
  overflow: hidden;
}

table {
  width: 100%;
}
